.dashboard-form {
  width: 100%;
  max-width: 500px;
}

.dashboard-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1b1b1b;
  padding: 5rem;
  border-radius: 1rem;

  input {
    height: 15rem;
  }
}

.dashboard-form textarea {
  font-family: inherit;
}
